*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: 1024px) {
    padding: 0 40px;
  }

  @media (max-width: 786px) {
    padding: 0 15px;
  }

}

.container-small {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 1490px) {
    max-width: 1200px;
  }

}

.mobile-menu__container {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: $manrope;
  font-weight: 400;
  font-size: $text-fs;
}

h1,
h2,
h3 {
  font-size: $title-fs;
  font-family: $grandisExtended;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 0.9;
  text-transform: uppercase;
}

h2 {
  font-size: $title-h2;
}

#enix {
  @media (max-width: 1024px) {
   background-image: url('/png/enix.png'); 
  }
}

#equilica {
  @media (max-width: 1024px) {
    background-image: url('/png/equilica.png'); 
   }
}

#achivers {
  @media (max-width: 1024px) {
    background-image: url('/png/achivers.png'); 
   }
}