.product {

  display: block;
  text-decoration: none;
  outline: none;
  border-radius: 18px;
  transition: all .4s ease-in-out;


  &:hover {
    .imgbox {
      .img {
        transform: scale(1.1);
      }
    }

    .title {
      color: #312DFF;
    }
  }

  .imgbox {
    max-height: 420px;
    width: 100%;
    aspect-ratio: 1 / 3;
    overflow: hidden;
    border-radius: 18px;
    background-color: #1E1E1E;
    margin-bottom: 16px;

    .img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all .4s ease-in-out;
    }

  }

  .title {
    font-family: 'Grandis-Extended', sans-serif;
    text-transform: uppercase;
    color: #1E1E1E;
    line-height: 1;
    font-size: clamp(14px, 4.3vw, 16px);
    transition: all .4s ease-in-out;
  }

}