@import '../styles/vars.scss';

.white_box {
  position: relative;
  z-index: 99;
  background-color: $white;
  border-radius: 50px 50px 0 0;
  margin-top: -4.5%;
  padding-top: 7%;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #ECECEB;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 46%;
    height: calc((1vw + 1vh) * 39);
    background-image: url('../../public/png/hero-girl-left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 818px;
    max-width: 614px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -90px;
    right: 25px;
    width: 59%;
    height: calc((1vw + 1vh) * 38);
    background-image: url('../../public/png/hero-girl-right.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 661px;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 9%;
  }

  &__content {
    max-width: 628px;
    position: relative;
    z-index: 9;
  }

  &__title {
    margin-bottom: 2.5%;
  }

  &__text {
    margin-bottom: 6.5%;
  }
}

.about {

  margin-bottom: 8.5%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about__text_box {
      width: 45%;

      .about__title {
        margin-bottom: 4.8%;
      }

      .about__text {
        margin-bottom: 7.5%;
      }

      .about__btn_box {
        width: 45%;
      }
    }

    .about__img_box {
      position: relative;
      width: 49%;
      height: calc((1vw + 1vh) * 20);
      border-radius: 40px;
      overflow: hidden;

      .about__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.catalog {
  margin-bottom: 80px;
}