.form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #312DFF;
  background-image: url("../../../public/png/contact-form-bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 63px 128px;

  .img {
    position: absolute;
    max-width: 631px;
    width: 45%;
    bottom: 0;
    right: 10%;

    @media (max-width: 1600px) {
      right: 10px;
    }

  }

}