/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_white_box__m5IcK {
  position: relative;
  z-index: 99;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  margin-top: -4.5%;
  padding-top: 7%;
}

.page_hero__TR3fT {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #ECECEB;
}
.page_hero__TR3fT::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 46%;
  height: calc((1vw + 1vh) * 39);
  background-image: url(/_next/static/media/hero-girl-left.511d7276.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 818px;
  max-width: 614px;
}
.page_hero__TR3fT::before {
  content: "";
  position: absolute;
  bottom: -90px;
  right: 25px;
  width: 59%;
  height: calc((1vw + 1vh) * 38);
  background-image: url(/_next/static/media/hero-girl-right.ff2705e3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 661px;
}
.page_hero__wrapper___IySa {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 9%;
}
.page_hero__content__tv1dM {
  max-width: 628px;
  position: relative;
  z-index: 9;
}
.page_hero__title__cIFwK {
  margin-bottom: 2.5%;
}
.page_hero__text__XFR6p {
  margin-bottom: 6.5%;
}

.page_about__p_sC8 {
  margin-bottom: 8.5%;
}
.page_about__wrapper__ASKO8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page_about__wrapper__ASKO8 .page_about__text_box__EMo9_ {
  width: 45%;
}
.page_about__wrapper__ASKO8 .page_about__text_box__EMo9_ .page_about__title__NUEau {
  margin-bottom: 4.8%;
}
.page_about__wrapper__ASKO8 .page_about__text_box__EMo9_ .page_about__text__ECy84 {
  margin-bottom: 7.5%;
}
.page_about__wrapper__ASKO8 .page_about__text_box__EMo9_ .page_about__btn_box__sVp5x {
  width: 45%;
}
.page_about__wrapper__ASKO8 .page_about__img_box__Qlmx9 {
  position: relative;
  width: 49%;
  height: calc((1vw + 1vh) * 20);
  border-radius: 40px;
  overflow: hidden;
}
.page_about__wrapper__ASKO8 .page_about__img_box__Qlmx9 .page_about__img__ANUjs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page_catalog__Xk9JZ {
  margin-bottom: 80px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_btn__ufDb_ {
  position: relative;
  background-color: #1F1F1F;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0% 4%;
  height: 48px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.Button_btn__ufDb_:hover {
  background-color: #312DFF;
}
.Button_btn__ufDb_:active {
  background-color: #2420D5;
}
.Button_btn__ufDb_ .Button_text__qo78j {
  border-right: 1px solid rgba(255, 255, 255, 0.5019607843);
  padding-right: 12px;
}
.Button_btn__ufDb_ .Button_arrow__P0aBM {
  margin-left: 12px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/banner/Banner.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Banner_banner__t2rWC {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc((1vw + 1vh) * 34);
  background: #312DFF;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 8%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-in-out;
}
.Banner_banner__t2rWC .Banner_column__V34ZK {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 999;
}
.Banner_banner__t2rWC .Banner_column__V34ZK:nth-child(2) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.Banner_banner__t2rWC .Banner_column__V34ZK .Banner_title__WHeur {
  position: relative;
  font-weight: 500;
  transition: all 0.6s ease-in-out;
}
.Banner_banner__t2rWC .Banner_column__V34ZK .Banner_text__NIo2w {
  position: absolute;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out 0.1s;
}
.Banner_banner__t2rWC .Banner_column__V34ZK .Banner_btn_box__L5dYA {
  width: 60%;
  transform: translateY(130%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out 0.1s;
}

.Banner_column__V34ZK:hover .Banner_title__WHeur {
  transform: translateY(-150%);
}
.Banner_column__V34ZK:hover .Banner_text__NIo2w {
  transform: translateY(-70%);
  opacity: 1;
}
.Banner_column__V34ZK:hover .Banner_btn_box__L5dYA {
  transform: translateY(100%);
  opacity: 1;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/catalog/Catalog.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Catalog_catalog__lhToM .Catalog_title___ozaN {
  margin-bottom: 40px;
}
.Catalog_catalog__lhToM .Catalog_link__0JVUE {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 64px;
  background-color: #1E1E1E;
  font-family: "Grandis-Extended", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size: clamp(18px, 3.6vw, 24px);
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  text-decoration: none;
}
.Catalog_catalog__lhToM .Catalog_link__0JVUE:hover {
  background-color: #312DFF;
  color: #fff;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/filter/Filters.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Filters_filters__KL0n3 {
  margin-bottom: 30px;
}
.Filters_filters__KL0n3 .Filters_list__MgOl_ {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/product/Product.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Product_product___t2s3 {
  display: block;
  max-width: 326px;
  text-decoration: none;
  outline: none;
  border-radius: 18px;
  transition: all 0.4s ease-in-out;
}
.Product_product___t2s3:hover .Product_imgbox__SVBd6 .Product_img__A8n4R {
  transform: scale(1.1);
}
.Product_product___t2s3:hover .Product_title__IH5Ab {
  color: #312DFF;
}
.Product_product___t2s3 .Product_imgbox__SVBd6 {
  max-height: 420px;
  width: 100%;
  aspect-ratio: 1/3;
  overflow: hidden;
  border-radius: 18px;
  background-color: #1E1E1E;
  margin-bottom: 16px;
}
.Product_product___t2s3 .Product_imgbox__SVBd6 .Product_img__A8n4R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.Product_product___t2s3 .Product_title__IH5Ab {
  font-family: "Grandis-Extended", sans-serif;
  text-transform: uppercase;
  color: #1E1E1E;
  line-height: 1;
  font-size: clamp(14px, 4.3vw, 16px);
  transition: all 0.4s ease-in-out;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/products/Products.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Products_grid__Viyih {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
